MQTT_HOST=xxxxxx.s1.eu.hivemq.cloud
MQTT_PORT=8883

MQTT_USERNAME_ANDROID=my_username_android
MQTT_PASSWORD_ANDROID=my_password_android

MQTT_USERNAME_ESP32=my_username_esp32
MQTT_PASSWORD_ESP32=my_password_esp32

MQTT_CMD_TOPIC=opengate/cmd
MQTT_ACK_TOPIC=opengate/ack

MQTT_CLIENT_ID=ESP32_GATE_SIM_01
